/* le damos al html y al body un scroll-behaviour:smooth para que al darle al botón de subir, este lo haga en un desplazamiento suave y rápido*/
html,
body {
    scroll-behavior: smooth;
}

/* PERSONAJES */
/* Con esto le damos estilo a las secciones que van a contener a los personajes y su información. Webkit para compatibilidad */

#characters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

/* hacemos que el contenedor de la información esté oculto con una opacidad de 0 y luego añadiéndole la clase .in-view logramos que vuelva a aparecer teniendo opacidad 1 al hacer scroll, con una pequeña animación de desplazamiento hacia arriba. Webkit para compatibilidad */

.character_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2em;
    opacity: 0;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    -webkit-transform: translate3d(0px, 200px, 0px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.in-view {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

/* le damos un tamaño y estilo a la imagen y el texto sobre los personajes. Webkit para compatibilidad */

.character_img {
    width: 30%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.character_img img {
    max-width: 100%;
    -webkit-filter: drop-shadow(-10px 10px 5px rgba(2, 2, 41, 0.781));
    filter: drop-shadow(-10px 10px 5px rgba(2, 2, 41, 0.781));
}

.character_text {
    width: 70%;
    padding: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.character_text h1 {
    text-align: center;
    font-size: 4rem;
}

.character_text p {
    font-size: clamp(1.7rem, calc(1.7rem + ((1vw - 0.48rem) * 1.8056)), 3rem);
}

/* BOTÓN BACK TO TOP */
/* posicionamos este "botón" de forma fija para que esté siempre situado en la esquina inferior derecha con un poco de opacidad para que no moleste para leer el texto */

.back_to_top {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    display: inline-block;
    opacity: 0.3;
}

.back_to_top:hover {
    cursor: pointer;
    opacity: 1;
}

.back_to_top img {
    width: 3rem;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 215, 104, 0.781));
    filter: drop-shadow(0px 0px 5px rgba(255, 215, 104, 0.781));
}

/* BREAKPOINT MÓVIL */
/* para móvil cambiamos la dirección de los flex para poner los contenidos en columna (o column-reverse si la imagen se encuentra a la izquierda) y modificar el tamaño de algunos elementos para ajustarlos mejor a las dimensiones de móvil. Webkit para compatibilidad */

@media screen and (max-width: 793px) {

    .character_container:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .character_container:nth-child(odd) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .character_img {
        width: 100%;
    }

    .character_text {
        width: 100%;
        padding: 0.5rem;
    }

}