/* le damos un tamaño del 100% tanto al html como al body para que estos ocupen toda la pantalla. También colocamos la imagen como fondo del body de forma que siempre quede centrado en los dos personajes */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/home_background.jpg);
    background-position: 70% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* MENÚ PRINCIPAL */

/* en este caso queremos que el menú esté fijo en la parte de arriba de nuestra web y colocarle un ::after con un efecto de "brochazo" para que destaquen las letras sobre la ilustración que ponemos de fondo */

.menu {
    position: fixed;
    background-color: black;
}

.menu::after {
    content: '';
    position: absolute;
    bottom: -2.5rem;
    left: 0rem;
    right: 0rem;
    height: 100%;
    z-index: -1;
    background-image: url('../img/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}