/* MODIFICACIONES DEL ESTILO GENERAL PARA EL INDEX */

html{
    background-color: white;
   /*  background: linear-gradient(192.01deg, #0D0D2E 7.77%, #0A184B 47.18%, #2C0E31 92.33%); */
   /*  background-repeat: no-repeat; */
}

/* le quitamos el margin y el padding al body para evitar bordes blancos indeseados, y le damos una altura y anchura de mínimo 100% para que ocupen toda la pantalla*/
html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

/* MENÚ PRINCIPAL */

/* en este caso queremos le damos un ancho de 100% al menú para que ocupe toda la parte de arriba de nuestra web, y con display flex alineamos los elementos del menú (logo y links a otras páginas). Ajustamos también el tamaño del logo  */

.menu{
    position: fixed;
    background-color: black;
}

.menu::after{
    content: '';
    position: absolute;
    bottom: -2.5rem;
    left: 0rem;
    right: 0rem;
    height: 100%;
    z-index: -1;
    background-image: url('../img/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* HOME BACKGROUND */
#home_background{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../img/home_background.jpg);
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}
