/* TARJETA "SKILLS"*/

/* en esta especie de "tarjeta" se visualizarán los datos de la base de datos. Comenzamos por darle display flex y centrar los elementos (tarjeta y slider) con align-items y justify-content en este contenedor padre*/

#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
}

/* TARJETA */

/* con esto le damos estilo a la tarjeta (tamaño, fondo, centrar elementos con display:flex). Para el título h1 empleamos otro cálculo realizado con clamp y calc para conseguir que el tamaño del texto se vaya adaptando de forma más fluida según el tamaño del navegador.  */

#card{
    background-image: url(../img/card_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
     width:70vw;
    height: 68vh;
    flex-grow: 1;
    padding: 2rem;
    padding-bottom: 3rem;
}

#card_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#card_content h1{
    font-family: var(--title-font);
    color: var(--text-white);
    text-align: center;
    font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 1.3889)), 2.5rem);
    margin-block-end: 0;
    margin-block-start: 0;
    font-variant: small-caps;
}

/* logramos que el círculo que corresponde con cada skill esté rodeada por un círculo de aspecto "pintado" usando position:relative en el div padre y con ::after posicionamos dicho círculo como background */

#img_skill{
    position: relative;
}

#img_skill img{
    width: 8rem;
}

#img_skill::after{
    content: '';
    position: absolute;
    bottom:  0.5rem;
    left: 0rem;
    right: 0rem;
    height: 95%;
    z-index: -1;
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* le damos un tamaño a la parte de la descripción de la tarjeta y display:flex con flex-direction:column para que los elementos salgan en columna. Volvemos a usar el cálculo con clamp para hacer que el texto se adapte de forma fluida al tamaño del navegador y modificamos los márgenes que tiene por defecto. */

#description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description p{
    font-family: var(--text-font);
    color: var(--text-white);
    font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 2.0833)), 3rem);
    font-variant: small-caps;
    margin-block-start: 0.1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* usamos span para incluir las imágenes de los iconos de los controles asociados con cada skill y poder intercalarlos con la descripción. Con vertical-align:middle nos aseguramos que las imágenes están centradas de forma vertical al texto */

#description span{
    text-align: center
}

#description span img{
    width:1em;
    vertical-align:middle;
}

/* con esto logramos colocar un recuadro de efecto "pintado" alrededor de la foto de ejemplo de la skill dentro del juego usando el mismo método de antes: position relative en el elemento padre, ::after posicionado con top, bottom, left y rigth y recuadro como background-image */

#description_img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: transparent;
    
}

#description_img img{
    width: clamp(10rem, calc(10rem + ((1vw - 0.48rem) * 25)), 28rem);
}

#description_img::after{
    content: '';
    position: absolute;
    top: -1rem;
    bottom: 0rem;
    left: 0.2rem;
    right: 0rem;
    height: 110%;
    background-image: url('../img/frame.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#profile{
    display: flex;
}

/* SLIDER */
/* modificación del estilo del carrusel del plugin de JQuery "Owl Carousel.js" para adaptarlo a las necesidades del proyecto. Comenzamos por el contenedor padre del slider/carrusel, indicando su tamaño, centrar el elemento al crearse el margen automáticamente y equitativamente entre ambos lados (derecho e izquierdo) */

.carousel-wrap {
    width: 85vw;
    margin: auto;
    position: relative;
    height: auto;
}

.slider{
    padding: 0 10em;
}

.owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
}

.item img{
    width: 9em;
    opacity: 0.3;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.item img:hover{
    opacity: 1;
    cursor: pointer;
}

.center img{
    opacity: 1 !important;
}

.center::after{
    content: '';
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    height: 98%;
    z-index: -1;
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.owl-carousel .nav-btn{
    position: absolute;
    cursor: pointer;
    top: 30% !important;
}

.nav-btn img{
    width: 2em;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide{
    transform: rotate(-180deg);
    opacity: 0.5;
    left: 100px;
    /* position: relative; */
}

.owl-carousel .next-slide{
    opacity: 0.5;
    right: 100px;
    /* position: relative; */
}

.owl-carousel .prev-slide:hover,.next-slide:hover{
    opacity: 1;
}

.owl-theme .owl-nav {
    margin-top: 0;
    height: 0;
}


.owl-carousel .owl-wrapper {
    display: flex !important;
}
.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
}

/* .owl-carousel .owl-stage { display: flex; align-items: center; } */

/* .owl-nav .owl-next, .owl-nav .owl-prev {
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.owl-nav .owl-next {
    right: 0;
    display: flex;
    margin-right: 2%;
    font-size: 25px !important;
}

.owl-next:hover{
    background: transparent;
}

.owl-nav .owl-prev{
    left: 0;
    display: flex;
    margin-left: 2%;
    font-size: 25px !important;
}  */

/* BREAKPOINT IPAD */

@media screen and (max-width: 830px) {

    #card{
        /* flex-direction: column; */
        width:90%;
        min-height: 100%;
    }
}
  

@media screen and (max-width: 793px) { 
    
    #skills{
        flex-direction:column-reverse;
    }

    #card{
        flex-direction: column;
        width:90%;
        min-height: 100%;
    }

    #card_content{
        flex-direction: column-reverse;
        justify-content: space-around;
        /* min-height: 100%; */
    }

    #description{
        width: initial;
    }

    .carousel-wrap {
        width: 100vw;
    }

    .nav-btn img {
        width: 1.5rem;
    }
}


